.pokemon{
    flex-basis: 22%;
    height: 300px;
    width: 200px;
}

.pokemon-img{
    height: 150px;
    max-height: 80%;
    display: flex;
    justify-content: center;
}

.pokemon-name{
    font-size: larger;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.pokemon:hover{
    background-color: beige;
}